html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box sizing */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Clearfix */

.cf:after {
  content:"";
  display:table;
  clear:both;
}





/* ---------------*/



html {
    font-size: 62.5%;

}
body {
    font-size: 1.6rem;
    line-height: 1.4;
    font-family: 'Playfair Display', serif;

    
    color: rgb(50, 50, 50);

    cursor: url("key.png"), auto;
    cursor: -webkit-image-set( url('img/key1x.png') 1x, url('img/key2x.png') 2x ), auto;

}
a {
    color: inherit; 
}

.asterisk,
small {
	font-size: 1.2rem;
	display: block;
}
strong {
	font-weight: 600;
}

h1 {
	font-size: 7rem;
	margin-bottom: 10px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
h1.site-title {
	position: absolute;
	top: 20px;
	left: 20px;
	display: block;
	width: auto;
	border: 5px solid #fff;
	color: #fff;
	padding: 5px 10px;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-weight: 700;
}



p.subheading {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 20px;
	display: block;
}

p {
	margin-bottom: 15px;
}

h2 {
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 20px;
}

.section-title {
	display: block;
	text-align: center;
}


h3 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 20px;
}

blockquote {
	display: block;
	font-style: italic;
	padding: 5px 20px;
	margin-bottom: 30px;
	border-left: 5px solid #ffd700;
}

.uo {
	color: rgb(180, 180, 180);
}


.container {
	margin: 50px auto;
	width: 90%;
	max-width: 800px;
}

.site-footer {
	text-align: center;
	font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
	.container {
		margin: 50px auto;
	}
}



section.site-section {
	margin-bottom: 50px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgb(220, 220, 220);
}








/* Twemoji Awesome - http://ellekasai.github.io/twemoji-awesome/ */
 .twa {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em; }

.twa-sob {
  background-image: url("https://twemoji.maxcdn.com/svg/1f62d.svg"); }
 .twa-dancers {
  background-image: url("https://twemoji.maxcdn.com/svg/1f46f.svg"); }
 .twa-punch {
  background-image: url("https://twemoji.maxcdn.com/svg/1f44a.svg"); }
 .twa-thumbsdown {
  background-image: url("https://twemoji.maxcdn.com/svg/1f44e.svg"); }
  .twa-thumbsup {
  background-image: url("https://twemoji.maxcdn.com/svg/1f44d.svg"); }
  .twa-key {
  background-image: url("https://twemoji.maxcdn.com/svg/1f511.svg"); }
.twa-point-down {
  background-image: url("https://twemoji.maxcdn.com/svg/1f447.svg"); }




/* */



.hero-header,
.demo-section {
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    margin-bottom: 0;
}

.hero-header {
	background-image: url('img/khaled.jpg');
}

.demo-section {
    background-image: url('img/bg.png');
}

.video-container {
	margin: 0 auto;
	width: 90%;
	max-width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


.twitter-share {
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: right;
}

.twitter-share-button {
	margin-right: 7px;
}




.slack-box {
	position: absolute;
	bottom: 100px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);

	border: 2px solid rgb(200,200, 200);
	border-radius: 5px;
	background-color: #fff;

	height: 50px;
	width: 80%;
	max-width: 700px;

	font-family: 'Montserrat', sans-serif;
	color: rgb(100, 100, 100);
	font-size: 1.4rem;
}




.plussign {
	position: absolute;
	left: 0;
	height: 100%;
	background-color: rgb(240, 240, 240);
	border-right: 2px solid rgb(200,200, 200);
	width: 50px;

	color: rgb(200,200, 200);
	text-align: center;
	line-height: 50px;
	font-size: 3rem;
}

.textbox {
	display: inline-block;
	padding-left: 60px;
	line-height: 50px;
	height: 50px;
	position: relative;
}
.typing {
	position: absolute;
	bottom: -30px;
	left: 60px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	font-style: italic;
}








